body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 600;
}
#root{
  min-height: 100vh;
}